@model Task2.Models.EmployeeT2

@{
    ViewBag.Title = "Employee Details";
}

<h2 class="mb-4">Employee Details</h2>

<div class="border p-4 rounded bg-light">
    <h4 class="text-secondary">EmployeeT2</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Designation.Name)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.Designation.Name)</dd>

        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.FirstName)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.FirstName)</dd>

        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.MiddleName)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.MiddleName)</dd>

        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.LastName)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.LastName)</dd>

        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.DOB)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.DOB)</dd>

        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.MobileNumber)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.MobileNumber)</dd>

        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Address)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.Address)</dd>

        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Salary)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.Salary)</dd>
    </dl>

    <div class="mt-4">
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary me-2" })
        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-secondary" })
    </div>
</div>
